---
import { IHeroProps } from "@types";
import { isRenderTemplateResult } from "astro/dist/runtime/server/render/astro";

const { name, about } = Astro.props as IHeroProps;
---

<section>
  <h1 class="dark:text-light mt-[50px]">Hey, I’m {name}</h1>
  <br></br>
  <div class="w-full">{about.map((item) =><p class="dark:text-white">{item}</p>)}</div>
</section>
